body{
  background-color: #2ECC71;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text{
  color: white;
  font-family: inherit;

}

.btn-f {
 display: inline-flex;

}
.btn-f a{
  display: inline-block;
  text-decoration: none;
  background-color: #FEBC58;
  box-shadow: -8px -8px 12px 0 rgba(0,0,0,3),
              12px 12px 16px rgba(255,255,255,0.25);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: 0.5s;
  display:flex;
  align-items: center;
  justify-content: center;

}

.btn-f a:hover{
  box-shadow: insert 6px 6px 10px 0 rgba(0,0,0,0.2),
  inset -6px -px 10px 0 rgba(255,255,255,0.5),
}

.btn .fab{
  padding-left:3px;
}


.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
